* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}
textarea {
	text-align: left;
}

.keyBoard {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 10px 0px;
}
.key {
	border: 1px solid black;
	padding: 10px;
	margin: 2px;
	border-radius: 5px;
	cursor: pointer;
}

.keyboard-row {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.space-row {
	display: block;
}
.space {
	text-transform: uppercase;
	justify-content: center;
	margin: auto;
	width: 25rem;
	padding: 0.93em;
	border-radius: 5px;
}
.space-row {
	display: block;
}

#moncercle {
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	background-color: green;
	display: inline-block;
}
.modenuit #chk:checked + .label .ball {
	background: green;
}
